.container {
    max-width: 900px;
    font-size: 12px;
}

input[type=text],
input[type=password],
input[type=button] {
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid lightblue;
    border-radius: 5px;
}

input[type=button] {
    background-color: #265a88;
    color: white;
    margin-left: 100px;
    width: 120%;
}

#loginForm {
    margin-top: 3cm;
}

#invalid {
    color: red !important;
}

.logo {
    width: 130px;
}

#rmaNav {
    background-color: #e6f2fe;
}

#projectName {
    margin-top: 40px;
}

#projectName h4 {
    font-weight: bold;
}

#loggedField {
    margin-top: 20px;
}

.pending {
    margin-top: 20px;
}

.blueText {
    display: inline;
    color: #347ab6;
}

.grayText {
    color: #8d8188;
}

table {
    margin-top: 20px;
}
footer .grayText {
    margin-top: 50px;
}
