.container {
    max-width: 1000px;
    font-size: 14px;
}

#loginForm {
    margin-top: 3cm;
}

#invalid {
    color: red !important;
}

.logo {
    width: 130px;
}

#rmaNav {
    background-color: #e6f2fe;
}

#projectName {
    margin-top: 40px;
}

#projectName h4 {
    font-weight: bold;
}

#loggedField {
    margin-top: 20px;
}

.pending {
    margin-top: 20px;
}

.blueText {
    display: inline;
    color: #347ab6;
}

.grayText {
    color: #8d8188;
}

table {
    margin-top: 20px;
}

footer .grayText {
    margin-top: 50px;
}

.redStar {
    color: red;
}

.newRequestForm div {
    margin-bottom: 15px;
}

.underline {
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.underNavEmptyField {
    height: 700px;
}

.inlineForm {
    margin-top: 22px;
}

.newRCTButton {
    margin-left: 30px;
    width: 70px;
}



